body{
	background-size:cover;
	color: #000000;
	font-family: Century;
	font-weight: lighter;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #222222;
}


.goal {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  max-width: 500px;
}

.author{
  text-align: center;
}

mark {
  background-color: #ebb917;
  color: rgb(23, 27, 36);
}

.calculator_container{
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.calculator{
    padding: 100px;
    border-radius: 50px;
    background-color: #ece4d9;
    Color: #1a1a19;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-btn { 
    margin-right: 5px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: transparent;
    border-style:solid;
    background: #a39d95;
	color: #000000;  

    font-size: 1.5rem;
    font-family: Century;
    cursor: pointer;             
    user-select: none;
  } 
  
  .my-btn:hover {
	background: #8ac294;
	color: #000000;
	border: 1px solid #000000;
  }
  
  .my-btn:active {
    filter: brightness(150%);
  }
  
  .my-btn.primary { 
    background: #7a4e4e;

  }
  .my-btn.primary:hover {
	background: #8ac294;
	color: #000000;
	border: 1px solid #000000;
}

.my-btn.secondary {
	background: #94462a;
}
.my-btn.secondary:hover {
	background: #8ac294;
	color: #000000;
	border: 1px solid #000000;
}

  
  .drop_list{
    background: #ebb917;
    width: 150px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
	
	font-family: Century;
    color: rgb(0, 0, 0);
  }

  .drop_list:hover{
    background-color: #ebb917;
  }

  .buttons{
    display: flex;
  }
  
  .my-btn.special { 
    background: #a39d95;
    width: 300px;
    height: 30px;
    font-size: 1rem;

  }

  .my-btn.special:hover { 
	background: #8ac294;
	color: #000000;
	border: 1px solid #000000;
  }

  .result { 
    width: 350px;
    height: 80px;
    border-radius: 12px; 
    margin-bottom: 10px;
    padding-right: 10px;
    background: #8ac294;
	color: #1b2335;
    text-align: right;
    font-size: 1.5rem;
    font-family: Century;
  }
